.button {
  padding: 15px 45px;
  color: $color-button-text;
  border-radius: 100px;
  @include font($size: 1.7rem, $height: 2.2rem);
  @extend %transition;
  cursor: pointer;
  display: inline-block;

  &--color {
    background-color: $color-primary;

    &:hover {
      background-color: $color-button-hover;
    }
  }

  &--bordered {
    padding: 13px 43px;
    background-color: transparent;
    border: 2px solid $color-primary;
  }
}

.slider {
  width: 52px;
  height: 52px;
  background: transparent;
  border: 2px solid $color-primary;
  border-radius: 100%;
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-button-text;
  @include flex();
  margin-top: 2px;
  @extend %transition;
  cursor: pointer;

  &:hover {
    background-color: $color-button-hover;
    border: 2px solid $color-button-hover;
  }

  &:disabled {
    color: $color-text-main;
    border: 2px solid $color-text-main;
    pointer-events: none;
    cursor: default;
  }
}

.left {
  background: url("./icons/btn-left.svg") no-repeat 50%;
  @include media-mobile {
    order: 1;
    margin-left: 58px;
  }
}

.right {
  background: url("./icons/btn-right.svg") no-repeat 50%;
  @include media-mobile {
    order: 1;
    margin-right: 58px;
  }
}

.button__credit-card {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: $color-primary;
  border-radius: 9px;
  max-width: 350px;
  @include flex;
  gap: 15px;

  &:hover {
    background-color: $color-button-hover;
  }

  @include media-mobile {
    gap: 14px;
  }
}

.credit-card__number {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-title;

  @include media-mobile {
    @include font($size: 1.5rem, $height: 1.7rem);
  }
}

// Pets pages

.slider__number {
  background-color: $color-primary;
  pointer-events: none;
}
