@font-face {
    font-family: 'Arial-Italic';
    src: url('../../assets/fonts/Arial-Italic.woff') format('woff');
    src: url('../../assets/fonts/Arial-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Arial-Regular';
    src: url('../../assets/fonts/Arial-Regular.woff') format('woff');
    src: url('../../assets/fonts/Arial-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Georgia-Regular';
    src: url('../../assets/fonts/Georgia-Regular.woff') format('woff');
    src: url('../../assets/fonts/Georgia-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Georgia-Bold';
    src: url('../../assets/fonts/Georgia-Bold.woff') format('woff');
    src: url('../../assets/fonts/Georgia-Bold.woff2') format('woff2');
}