.main__logo {
  flex-direction: column;
  margin-top: 1px;
}

.logo__title--main {
  color: $color-primary;
}

.logo__subtitle {
  @include font(
    $family: $arial,
    $size: 1.3rem,
    $spacing: 0.1em,
    $height: 1.5rem
  );
  padding: 9px 0 0 4px;
}

.logo__subtitle--main {
  color: $color-light;
}

// Page pets

.logo__title--pets {
  color: $color-title;
}

.logo__subtitle--pets {
  color: $color-button-text;
}
