@mixin flex ($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($size, $spacing: 0.06em, $height) {
    font-size: $size;
    letter-spacing: $spacing;
    line-height: $height;
}