.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: $color-dark;
  display: none;
  // overflow: auto;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  display: none;
  position: fixed;

  &:hover {
    cursor: pointer;
  }
}

.modal__window {
  width: 900px;
  // height: 552px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  &:hover {
    cursor: pointer;
  }

  @include media-tablet {
    width: 630px;
    //   height: 402px;
  }
  @include media-mobile {
    width: 240px;
  }
}

.btn__position {
  // @include flex($justify: flex-end);
  margin-right: -42px;
  margin-top: -55px;
  z-index: -1;

  &:hover {
    cursor: pointer;

    .slider {
      background-color: $color-button-hover;
      border: 2px solid $color-button-hover;
    }
  }

  @include media-mobile {
    margin-top: -65px;
  }
}

.img__modal {
  width: 500px;
  // height: 500px;
  margin-right: 29px;
  border-radius: 11px;

  @include media-tablet {
    width: 350px;
    //   height: 350px;
    margin-right: 11px;
  }
  @include media-mobile {
    display: none;
  }
}

.modal__content {
  display: flex;
  border-radius: 10px;
  background-color: $color-text-main-hover;
  color: $color-dark;
  cursor: default;

  @include media-mobile {
    padding: 10px;
  }
}

.modal__content-text {
  width: 351px;
  padding-top: 50px;

  @include media-tablet {
    padding-top: 10px;
    width: 260px;
  }
  @include media-mobile {
    padding-top: 0;
    width: 220px;
  }
}

.modal__name {
  padding-bottom: 10px;
  @include media-mobile {
    text-align: center;
  }
}

.modal__type,
.modal__breed {
  @include font($size: 2rem, $height: 2.3rem);
}

.modal__description {
  @include font($size: 1.5rem, $height: 1.7rem);
  padding: 40px 0;

  @include media-tablet {
    @include font($size: 1.3rem, $height: 1.4rem);
    padding: 20px 0;
  }
}

.pets__attribute {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 15px;

  @include media-tablet {
    gap: 5px;
  }
}

.attribute {
  position: relative;
  @include font($size: 1.5rem, $height: 1.7rem);

  &::before {
    content: "";
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: -15px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: $color-primary;
  }
}

.strong {
  font-weight: bold;
}
