// Fonts
$arialItalic: 'Arial-Italic';
$arialRegular: 'Arial-Regular';
$georgiaRegular: 'Georgia-Regular';
$georgiaBold: 'Georgia-Bold';

$desktop: 1280px;
$tablet: 1279px;
$mobile: 767px;

$bgGradient: url('../../assets/images/gradient.png'), radial-gradient(60% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

// Color
$gold: #F1CDB3;
$white: #fff;
$whiteDark: #fafafa;
$whiteGray: #F6F6F6;
$gray: #CDCDCD;
$dark: #292929;
$darkTitle: #545454;
$darkSubtitle: #4C4C4C;


// Hover
$transition: 0.5s;
$hoverBtn: #FDDCC4;



