@font-face {
  font-family: "Arial";
  src: url("./fonts/ArialMT.woff2") format("woff2"), url("./fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-ItalicMT.woff2") format("woff2"), url("./fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-ItalicMT.woff2") format("woff2"), url("./fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia-Bold.woff2") format("woff2"), url("./fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia.woff2") format("woff2"), url("./fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia-Bold.woff2") format("woff2"), url("./fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./fonts/ArialMT.woff2") format("woff2"), url("./fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia.woff2") format("woff2"), url("./fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.card, .navigation__link, .slider, .button {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: overlay;
}

.body {
  font-family: "Georgia";
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  html,
.body {
    position: relative;
    overflow-x: hidden;
  }
}
.background__main-page {
  background: url("./images/backgrounds/gradient.png"), radial-gradient(60% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

h1 {
  font-family: "Georgia";
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 3.5rem;
}

h2 {
  font-family: "Georgia";
  font-size: 4.4rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 5.4rem;
}

h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 4.5rem;
}
@media (max-width: 767px) {
  h3 {
    font-family: "Georgia";
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 3.2rem;
  }
}

.title {
  color: #545454;
}
@media (max-width: 767px) {
  .title {
    text-align: center;
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main__logo {
  flex-direction: column;
  margin-top: 1px;
}

.logo__title--main {
  color: #f1cdb3;
}

.logo__subtitle {
  font-family: "Arial";
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
  padding: 9px 0 0 4px;
}

.logo__subtitle--main {
  color: #ffffff;
}

.logo__title--pets {
  color: #545454;
}

.logo__subtitle--pets {
  color: #292929;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: absolute;
    height: 22px;
    width: 30px;
    right: 53px;
    z-index: 3;
    transition: all 0.3s ease-out;
  }
  .burger:hover {
    cursor: pointer;
  }

  .burger__color:before, .burger__color:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #f1cdb3;
    transition: all 0.3s ease-out;
  }

  .burger__dark:before, .burger__dark:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #545454;
    transition: all 0.3s ease-out;
  }

  .burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: 0.3s;
  }

  .burger__line--color {
    background-color: #f1cdb3;
  }

  .burger__line--dark {
    background-color: #545454;
  }

  .burger:after {
    top: 0.5px;
  }

  .burger:before {
    bottom: 0.5px;
  }

  .navigation__link {
    font-size: 32px;
  }
  .navigation__link:nth-child(1) {
    gap: 43px;
  }

  .burger.open {
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
  }

  .header__navigation.open {
    right: 0;
    transition: all 1s ease-in-out;
  }

  .header__wrapper.open {
    justify-content: flex-end;
    transition: all 1s ease-in-out;
  }

  .main__logo.open {
    z-index: 3;
    padding-right: 71px;
    transition: all 1s ease-in-out;
  }

  .mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    visibility: hidden;
    opacity: 0;
  }

  .mask-content.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
    transition: opacity 0.5s, visibility 0.5s;
  }
}
.button {
  padding: 15px 45px;
  color: #292929;
  border-radius: 100px;
  font-family: "Georgia";
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 2.2rem;
  cursor: pointer;
  display: inline-block;
}
.button--color {
  background-color: #f1cdb3;
}
.button--color:hover {
  background-color: #fddcc4;
}
.button--bordered {
  padding: 13px 43px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
}

.slider {
  width: 52px;
  height: 52px;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  font-family: "Georgia";
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 2.3rem;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  cursor: pointer;
}
.slider:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
.slider:disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  pointer-events: none;
  cursor: default;
}

.left {
  background: url("./icons/btn-left.svg") no-repeat 50%;
}
@media (max-width: 767px) {
  .left {
    order: 1;
    margin-left: 58px;
  }
}

.right {
  background: url("./icons/btn-right.svg") no-repeat 50%;
}
@media (max-width: 767px) {
  .right {
    order: 1;
    margin-right: 58px;
  }
}

.button__credit-card {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #f1cdb3;
  border-radius: 9px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__credit-card:hover {
  background-color: #fddcc4;
}

.credit-card__number {
  font-family: "Georgia";
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 2.3rem;
  color: #545454;
}
@media (max-width: 767px) {
  .credit-card__number {
    font-family: "Georgia";
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 1.7rem;
  }
}

.slider__number {
  background-color: #f1cdb3;
  pointer-events: none;
}

.navigation {
  width: 443px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial";
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2.4rem;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .navigation {
    width: 243px;
    height: 327px;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    justify-content: center;
    margin-top: 139px;
    gap: 47px;
  }
}

.navigation__link {
  cursor: pointer;
}
.navigation__link--light {
  color: #cdcdcd;
}
.navigation__link--light:hover {
  color: #fafafa;
}
.navigation__link--dark {
  color: #545454;
}
.navigation__link--dark:hover {
  color: #292929;
}

.active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
  padding-bottom: 4px;
  cursor: default;
}
@media (max-width: 767px) {
  .active {
    padding-bottom: 7px;
  }
}

.active--dark {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
  cursor: default;
}

.main-page__wrapper {
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .main-page__wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .main-page__wrapper {
    padding: 29px 10px 0 10px;
    gap: 105px;
  }
}

.main__page-content {
  padding-top: 164px;
  max-width: 460px;
}
@media (max-width: 1279px) {
  .main__page-content {
    padding-top: 31px;
  }
}
@media (max-width: 767px) {
  .main__page-content {
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .button__position--main-page {
    text-align: center;
  }
}

.main__page-title {
  font-family: "Georgia";
  font-size: 4.4rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 5.7rem;
  color: #ffffff;
  padding-bottom: 41px;
}
@media (max-width: 767px) {
  .main__page-title {
    font-family: "Georgia";
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 3.2rem;
    padding-left: 1.6px;
    padding-bottom: 42px;
  }
}

.main__page-subtitle {
  font-family: "Arial";
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2.4rem;
  color: #cdcdcd;
  padding-bottom: 42px;
}

@media (max-width: 1279px) {
  .img__puppy {
    margin-left: auto;
    width: 569px;
    height: 593px;
  }
}
@media (max-width: 767px) {
  .img__puppy {
    width: 260px;
    height: 271.77px;
  }
}

.about {
  background-color: #ffffff;
}

.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 1279px) {
  .about__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .about__wrapper {
    margin: 0 15px;
    gap: 41px;
  }
}

.about__content {
  max-width: 430px;
  padding-top: 15px;
}
@media (max-width: 1279px) {
  .about__content {
    padding-top: 1px;
  }
}

.about__subtitle {
  font-family: "Arial";
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2.4rem;
  padding-top: 24px;
  color: #4c4c4c;
}
.about__subtitle:last-child {
  padding-top: 25px;
}
@media (max-width: 767px) {
  .about__subtitle:last-child {
    padding-top: 22px;
  }
}
@media (max-width: 767px) {
  .about__subtitle {
    text-align: justify;
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .img__about {
    width: 260px;
    height: 353.6px;
  }
}

.pets {
  background-color: #f6f6f6;
}
.pets .title {
  text-align: center;
  padding-top: 1px;
  padding-left: 2px;
}
@media (max-width: 767px) {
  .pets .title {
    padding-top: 3px;
  }
}

.pets__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 60px;
}
@media (max-width: 1279px) {
  .pets__slider {
    justify-content: center;
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .pets__slider {
    padding-top: 42px;
    flex-wrap: wrap;
    gap: 18px 80px;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 42px;
  }
}

.pets__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
@media (max-width: 1279px) {
  .pets__cards {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .pets__cards {
    margin: 0 auto;
  }
}

.card {
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}
.card:hover .button {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

@media (max-width: 1279px) {
  .main__last--card {
    display: none;
  }
}

@media (max-width: 767px) {
  .main__two--card {
    display: none;
  }
}

@media (max-width: 767px) {
  .img__card {
    width: 270px;
    height: 270px;
  }
}

.card__content {
  padding-top: 27px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 1px;
}

.pets__name {
  font-family: "Georgia";
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 2.3rem;
  color: #545454;
  padding-bottom: 30px;
}

.pets__button-position {
  text-align: center;
  margin-left: 1px;
}

.pets__container {
  background-color: #f6f6f6;
}
.pets__container .title {
  text-align: center;
  padding-top: 1px;
  padding-left: 2px;
}

.pets__container--wrapper {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 1279px) {
  .pets__container--wrapper {
    padding: 80px 30px 77px 30px;
  }
}
@media (max-width: 767px) {
  .pets__container--wrapper {
    padding: 41px 10px 42px 10px;
    margin-top: 120px;
  }
}

.pets__cards--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 31px;
  padding-top: 59px;
  padding-bottom: 58px;
}
@media (max-width: 1279px) {
  .pets__cards--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 37px;
    column-gap: 40px;
    row-gap: 31px;
    max-width: 580px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .pets__cards--container {
    padding-top: 42px;
    padding-bottom: 39px;
    flex-direction: column;
  }
}

.pets__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .pets__navigation {
    gap: 10px;
  }
}

.help {
  background-color: #ffffff;
}
.help .title {
  text-align: center;
  padding-top: 1px;
  padding-left: 2px;
}
@media (max-width: 767px) {
  .help .title {
    padding-top: 2px;
    padding-left: 1px;
  }
}

.help__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 59px 86px 0 88px;
  column-gap: 119px;
  flex-wrap: wrap;
  row-gap: 55px;
  flex-direction: row;
}
@media (max-width: 1279px) {
  .help__list {
    padding: 59px 0 0 0;
    column-gap: 40px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .help__list {
    padding-top: 42px;
    gap: 30px 20px;
    margin: auto;
    justify-content: flex-start;
    max-width: 300px;
  }
}

.help__icons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1279px) {
  .help__icons-group {
    width: 27%;
  }
}
@media (max-width: 767px) {
  .help__icons-group {
    width: 140px;
  }
}

.help__icon-name {
  font-family: "Georgia";
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 2.3rem;
  padding-top: 30px;
  color: #545454;
}
@media (max-width: 767px) {
  .help__icon-name {
    font-family: "Georgia";
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 1.7rem;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .icon__help {
    width: 50px;
    height: 50px;
  }
}

.donation {
  background-color: #f6f6f6;
}

.donation__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 1279px) {
  .donation__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 48px;
  }
}
@media (max-width: 767px) {
  .donation__wrapper {
    margin-top: 1px;
    text-align: center;
    gap: 31px;
  }
}

.img__donation-dog {
  margin-top: 11px;
}
@media (max-width: 1279px) {
  .img__donation-dog {
    margin-top: 12px;
    margin-right: 2px;
  }
}
@media (max-width: 767px) {
  .img__donation-dog {
    width: 260px;
    height: 135.2px;
    margin-top: 11px;
    margin-right: 0;
  }
}

.donation__content {
  max-width: 380px;
  margin-right: 1px;
}
.donation__content .title {
  padding-top: 1px;
}
@media (max-width: 1279px) {
  .donation__content .title {
    padding-top: 1px;
  }
}
@media (max-width: 767px) {
  .donation__content {
    max-width: 280px;
  }
  .donation__content .title {
    padding-left: 2px;
  }
}

.donation__subtitle {
  font-family: "Georgia";
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 1.7rem;
  color: #545454;
  padding: 19px 0 20px;
}
@media (max-width: 767px) {
  .donation__subtitle {
    font-family: "Georgia";
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 2.4rem;
    align-items: center;
    padding: 20px 0 20px;
  }
}

.legal__information-animal {
  font-family: "Arial";
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.8rem;
  font-style: italic;
  color: #b2b2b2;
}
@media (max-width: 767px) {
  .legal__information-animal {
    text-align: justify;
  }
}

.img__sredit-card {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .img__sredit-card {
    margin-right: 13px;
  }
}

.wrapper {
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 80px 30px 100px 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 41px 10px;
  }
}

.header__wrapper {
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .header__wrapper {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    padding: 30px 53px 0 10px;
  }
}

.header__navigation {
  margin-left: auto;
}
@media (max-width: 767px) {
  .header__navigation {
    display: block;
    position: fixed;
    right: -100%;
    width: 320px;
    top: 0;
    height: 100vh;
    z-index: 2;
    padding-top: 115px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    transition: all 1s ease-in-out;
  }
  .header__navigation--dark {
    background-color: #292929;
  }
  .header__navigation--light {
    background-color: #ffffff;
  }
}

.header {
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}

.header__pets {
  position: sticky;
  top: 0px;
}
@media (max-width: 767px) {
  .header__pets {
    position: fixed;
    left: 0;
    right: 0;
  }
}

.header__wrapper--pets {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.footer {
  background: url("./images/backgrounds/gradient.png"), radial-gradient(60% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__wrapper {
  background: url("./images/backgrounds/gradient.png"), radial-gradient(60% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 40px 40px 0 39px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.footer__wrapper .title {
  color: #ffffff;
  padding-left: 1px;
}
@media (max-width: 1279px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 31px 31px 0 40px;
    gap: 62px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper {
    padding: 31px 10px 0 10px;
    gap: 38px;
  }
}

.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 159px;
  padding-top: 17px;
}
@media (max-width: 1279px) {
  .footer__content {
    gap: 60px;
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 280px;
  gap: 40px;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 32px;
  padding-top: 2px;
  padding-left: 1px;
}
@media (max-width: 767px) {
  .contacts__item {
    margin: 0 auto;
  }
}

.contact {
  color: #f1cdb3;
  font-family: "Georgia";
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 23px;
  align-items: center;
  padding-bottom: 2px;
}

.image__email,
.image__phone {
  padding-bottom: 3px;
}

.location {
  display: flex;
  flex-direction: column;
  max-width: 312px;
}
@media (max-width: 767px) {
  .location {
    width: 300px;
  }
  .location .title {
    padding: 0 15px;
  }
}

.location__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 33px;
}
.location__item:last-child {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .location__item {
    padding-top: 40px;
  }
  .location__item:last-child {
    padding-top: 37px;
  }
}

.image__location {
  padding-bottom: 3px;
}

@media (max-width: 1279px) {
  .img__footer-puppy {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .img__footer-puppy {
    width: 260px;
    height: 269px;
    margin-right: 0px;
  }
}

.contacts__pets {
  gap: 39px;
}
@media (max-width: 1279px) {
  .contacts__pets {
    gap: 40px;
  }
}

.contacts__item--last {
  padding-top: 3px;
}

@media (max-width: 1279px) {
  .contacts__item--phone {
    padding-bottom: 3px;
  }
}

.image__email-pets {
  padding-bottom: 3px;
}

.image__phone-pets {
  padding-bottom: 0;
}

.location__item--first {
  padding-top: 32px;
}
@media (max-width: 767px) {
  .location__item--first {
    padding-top: 40px;
  }
}

.location__item--last {
  margin-top: 1px;
}

.footer__wrapper--pets {
  padding-top: 40px;
}
@media (max-width: 1279px) {
  .footer__wrapper--pets {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .img__footer-puppy--pets {
    margin-top: -1px;
  }
}

/*# sourceMappingURL=style.css.map */
