// Fonts
$fontLogo: "Allerta Stencil", sans-serif;
$fontMain: "DM Sans", sans-serif;

// Color
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGold: #bdae82;
$colorGrey: #d8d8d8;

// Hover
$colorHover: #d7c99e;
