@import '../../helpers/constants.scss';

.cars-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.line {
  border-top: 1px dashed $colorWhite;
  margin-top: -36px;
  margin-bottom: 30px;
}

.car-buttons {
  display: flex;
  gap: 10px;
}

.car-name {
  color: $colorGreen;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.btn-engine {
  background-color: transparent;
  border-radius: 3px;
  padding: 2px;
  margin-right: 5px;

  &:disabled {
    border: 2px solid $colorGrey;
    color: $colorGrey;
  }
}

.btn-start {
  border: 2px solid $colorGreen;
  color: $colorGreen;
}

.btn-stop {
  border: 2px solid $colorRed;
  color: $colorRed;
}

.highway {
  display: flex;
  position: relative;
  background-image: url('../../../assets/flag.png');
  background-repeat: no-repeat;
  background-size: 39px;
  background-position-x: calc(100% - 55px);
}