@import "./common/utils/tokens.scss";
@import "./common/utils/mixin.scss";
@import "./common/utils/normalaize.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.body {
  background: $colorWhite;
  color: $colorBlack;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.wrapper {
  padding: 25px;
}

.catalog {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 20px 2.5%;
}

h1 {
  @include font($family: $fontLogo, $size: 6rem);
  line-height: 40.5px;
  user-select: none;

  &::first-letter {
    color: $colorGold;
  }
}

h2 {
  @include font($size: 1.6rem, $weight: bold);
  padding-bottom: 10px;
}