body {
    color: #fff;
    background: #4d4e4e;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

header h1::after {
    content: '';
    display: block;
    width: 10%;
    border-bottom: 3px solid #ffbda2;
    margin: 0 auto;
}

footer {
    max-width: 1920px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
footer .copyright a {
    color: #ffffff;
}
footer .copyright a:hover {
    color: #ffbda2;
}
footer .copyright:before {
    content: '©';
}

.footer__icon-rsschool {
    width: 150px;
}

.footer__icon-git,
.footer__icon-rsschool {
    filter: invert(100%) sepia(0%) saturate(1393%) hue-rotate(157deg) brightness(115%) contrast(101%);
    transition: 0.5s;
}

.footer__icon-git:hover,
.footer__icon-rsschool:hover {
    filter: invert(74%) sepia(53%) saturate(413%) hue-rotate(319deg) brightness(104%) contrast(102%);
}
