html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Arial-Italic";
  src: url("../../assets/fonts/Arial-Italic.woff") format("woff");
  src: url("../../assets/fonts/Arial-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Arial-Regular";
  src: url("../../assets/fonts/Arial-Regular.woff") format("woff");
  src: url("../../assets/fonts/Arial-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Georgia-Regular";
  src: url("../../assets/fonts/Georgia-Regular.woff") format("woff");
  src: url("../../assets/fonts/Georgia-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Georgia-Bold";
  src: url("../../assets/fonts/Georgia-Bold.woff") format("woff");
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
}
.header {
  padding: 60px 40px;
}
@media (max-width: 1279px) {
  .header {
    padding: 30px;
  }
}

.header__container {
  display: flex;
  height: 60px;
}

.logo {
  width: 186px;
  height: 60px;
}

.logo__title {
  color: #F1CDB3;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 35.2px;
  padding-bottom: 9px;
  padding-top: 1px;
}

.logo__subtitle {
  color: #fff;
  font-family: "Arial-Regular";
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
  padding-left: 4px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 443px;
  padding-bottom: 5px;
}

.menu__item {
  position: relative;
  color: #CDCDCD;
  font-family: "Arial-Regular";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  transition: 0.5s;
}
.menu__item:hover {
  color: #fafafa;
}

.active {
  color: #fafafa;
  cursor: default;
}
.active:after {
  position: absolute;
  content: "";
  background-color: #F1CDB3;
  width: 100%;
  height: 3px;
  bottom: -7.5px;
  left: 0;
  transform: scale(0);
}
.active:after {
  transform: scale(1);
}

.burger__logo {
  display: none;
}

@media (max-width: 767px) {
  html,
.body {
    position: relative;
    overflow-x: hidden;
  }

  .header {
    padding: 30px 53px 30px 10px;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger {
    display: block;
    position: fixed;
    height: 22px;
    width: 30px;
    right: 53px;
    z-index: 3;
    transition: 0.5s;
    /*&:after {
      top: 0.5px;
    }*/
  }
  .burger:after, .burger:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #F1CDB3;
    transition: 0.5s;
  }
  .burger:before {
    bottom: 0.5px;
  }
  .burger:hover {
    cursor: pointer;
  }

  .burger__logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .burger__line {
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: 0.5s;
  }

  .menu {
    display: block;
    position: fixed;
    background-color: #292929;
    right: -100%;
    width: 320px;
    top: 0;
    height: 100vh;
    z-index: 2;
    padding-top: 115px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    transition: all 1s ease-in-out;
  }

  .menu__list {
    width: 243px;
    height: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
    margin-top: 137px;
    gap: 40px;
  }

  .menu__item {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 51px;
  }

  .burger.open {
    transform: rotate(90deg);
  }

  .menu.open {
    right: 0;
    transition: all 1s ease-in-out;
  }

  .mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    visibility: hidden;
    opacity: 0;
  }

  .mask-content.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
    transition: opacity 0.5s, visibility 0.5s;
  }
}
html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Georgia-Regular";
  background: #fff;
  margin: 0 auto;
  color: #fff;
  max-width: 1280px;
}

.background__main-page {
  background: url("../../assets/images/gradient.png"), radial-gradient(60% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.main__page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 1279px) {
  .main__page {
    flex-wrap: wrap;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .main__page {
    padding: 0 10px;
  }
}

.main__page-content {
  width: 460px;
}
@media (max-width: 1279px) {
  .main__page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main__page-content {
    padding: 0 10px;
  }
}

.main__page-title {
  font-size: 44px;
  letter-spacing: 0;
  line-height: 57.2px;
  padding: 164px 0 41px 0;
}
@media (max-width: 1279px) {
  .main__page-title {
    padding: 30px 0 42px 0;
  }
}
@media (max-width: 767px) {
  .main__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.06em;
    line-height: 32px;
    padding-top: 30px;
    padding-left: 1px;
  }
}

.main__page-subtitle {
  width: 460px;
  color: #CDCDCD;
  font-family: "Arial-Regular";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom: 42px;
}
@media (max-width: 1279px) {
  .main__page-subtitle {
    padding-bottom: 42px;
  }
}
@media (max-width: 767px) {
  .main__page-subtitle {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .img__puppy {
    width: 569px;
    height: 593px;
    margin-top: 100px;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .img__puppy {
    width: 260px;
    height: 271.77px;
    margin-top: 105px;
  }
}

@media (max-width: 1279px) {
  .btn__position-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
  }
}

.wrapper {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 80px 30px 100px 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 42px 10px;
  }
}

.about {
  background-color: #fff;
}

.about__position {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 1279px) {
  .about__position {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .about__position {
    gap: 42px;
  }
}

.about__content {
  width: 430px;
}
@media (max-width: 1279px) {
  .about__content {
    order: -1;
  }
}
@media (max-width: 767px) {
  .about__content {
    width: 270px;
    height: 494px;
  }
}

.title {
  color: #545454;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 45px;
}
@media (max-width: 767px) {
  .title {
    font-size: 25px;
    letter-spacing: 0.06em;
    line-height: 32px;
    text-align: center;
  }
}

.about__title-position {
  padding-bottom: 25px;
  padding-top: 2px;
}
@media (max-width: 1279px) {
  .about__title-position {
    padding-bottom: 24px;
    padding-top: 1px;
  }
}
@media (max-width: 767px) {
  .about__title-position {
    padding-bottom: 26px;
    margin-top: -2px;
  }
}

.about__subtitle {
  color: #4C4C4C;
  font-family: "Arial-Regular";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom: 25px;
}
.about__subtitle:last-child {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .about__subtitle {
    text-align: justify;
    padding-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .img__about {
    width: 260px;
    height: 353.6px;
  }
}

.pets {
  background-color: #F6F6F6;
}
.pets .title {
  margin-top: 1px;
  padding-left: 1.5px;
}
.title__position-center {
  text-align: center;
}

.pets__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
}
@media (max-width: 1279px) {
  .pets__slider {
    margin: 0 auto;
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .pets__slider {
    flex-wrap: wrap;
    gap: 20px;
    max-width: 350px;
    padding-bottom: 42px;
  }
}

.left {
  background: url("../../assets/icons/btn-left.svg") no-repeat 50%;
}

.right {
  background: url("../../assets/icons/btn-right.svg") no-repeat 50%;
}

.pets__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding-top: 59px;
  padding-bottom: 60px;
}
@media (max-width: 1279px) {
  .pets__cards {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .pets__cards {
    gap: 0;
    padding-top: 42px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 435px;
  width: 270px;
  background-color: #fafafa;
  border-radius: 9px;
  gap: 30px;
  transition: 0.5s;
}
.card:hover {
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.1);
  cursor: pointer;
}
@media (max-width: 1279px) {
  .card:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .card:nth-child(2) {
    display: none;
  }
}

.img__card {
  height: 270px;
  width: 270px;
}

.pets__name {
  color: #545454;
  font-family: "Georgia-Regular";
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
  padding-left: 1.5px;
}

.btn__pets-position {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__pets-position .btn__color {
  padding-left: 1.5px;
  width: 261px;
}
@media (max-width: 767px) {
  .btn__pets-position .btn__color {
    padding-right: 2px;
  }
}

.help {
  background-color: #fff;
}
.help .title {
  padding-top: 1px;
  padding-left: 2px;
}
@media (max-width: 767px) {
  .help .title {
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .wrapper.help {
    margin-bottom: -6px;
  }
}

.help__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 59px;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .help__list {
    justify-content: space-between;
    padding: 59px 39px 0 39px;
  }
}
@media (max-width: 767px) {
  .help__list {
    width: 96.8%;
    margin: 0 auto;
    padding: 43px 0 0 0;
  }
}

.help__icons-group {
  margin: 0 119.5px 55px 0;
}
.help__icons-group:nth-child(5), .help__icons-group:last-child {
  margin-right: 0;
}
.help__icons-group:nth-child(n+6) {
  margin-bottom: 0;
}
@media (max-width: 1279px) {
  .help__icons-group {
    width: 27%;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .help__icons-group {
    /*width: 40.625vw;
    margin-bottom: 31px;

    &:nth-child(n + 6) {
      margin-bottom: 30.3px;
    }

    &:last-child {
      margin-bottom: 0;
    }*/
    margin-bottom: 25px;
    width: 40.625vw;
    height: 92px;
  }
  .help__icons-group:nth-child(n+6) {
    margin-bottom: 25px;
  }
  .help__icons-group:last-child {
    margin-bottom: 0;
  }
}

.help__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .help__icon {
    height: 50px;
    margin-bottom: 20px;
  }
}

.help__icon-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545454;
  font-family: "Georgia-Regular";
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
}
@media (max-width: 767px) {
  .help__icon-name {
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 16.5px;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation__position {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1279px) {
  .donation__position {
    flex-direction: column;
    gap: 58px;
  }
}
@media (max-width: 767px) {
  .donation__position {
    gap: 39px;
  }
}

.img__donation-dog {
  margin-top: 2px;
}
@media (max-width: 767px) {
  .img__donation-dog {
    width: 260px;
    height: 135.2px;
  }
}

.donation__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 380px;
  gap: 20px;
}
.donation__content .title {
  padding-top: 2px;
}
@media (max-width: 1279px) {
  .donation__content {
    order: -1;
  }
}
@media (max-width: 767px) {
  .donation__content {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }
  .donation__content .title {
    margin-top: -2px;
  }
}

.donation__subtitle {
  color: #545454;
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 16.5px;
}
@media (max-width: 767px) {
  .donation__subtitle {
    font-size: 13.2px;
    letter-spacing: 0.06em;
    line-height: 16.5px;
    text-align: center;
    padding-top: 1px;
  }
}

.legal__information-animal {
  color: #b2b2b2;
  font-family: "Arial-Italic";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}
@media (max-width: 767px) {
  .legal__information-animal {
    text-align: justify;
    margin-top: -3px;
  }
}

.footer {
  background: url("../../assets/images/gradient.png"), radial-gradient(60% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer .title {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 45px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
@media (max-width: 1279px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    padding: 31px 64px 0 64px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    gap: 40px;
    padding: 30px 10px 0 10px;
  }
}

.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 160px;
  padding-top: 17px;
}
@media (max-width: 1279px) {
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .footer__content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
  }
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 279px;
  gap: 40px;
}
.contacts .title {
  color: #fff;
}
@media (max-width: 767px) {
  .contacts {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts .title {
    line-height: 32px;
    font-size: 25px;
    letter-spacing: 0.06em;
    line-height: 32px;
    text-align: center;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 32px;
}

.image__email {
  margin-top: 4px;
}
@media (max-width: 1279px) {
  .image__email {
    margin-top: 2px;
  }
}
@media (max-width: 767px) {
  .image__email {
    margin-top: 5px;
  }
}

.image__phone {
  margin-top: 4px;
}
@media (max-width: 1279px) {
  .image__phone {
    margin-top: 3px;
  }
}
@media (max-width: 767px) {
  .image__phone {
    margin-top: 5px;
  }
}

.contact {
  color: #F1CDB3;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
  align-items: center;
}
@media (max-width: 1279px) {
  .contact {
    margin-left: 0.5px;
  }
}
@media (max-width: 767px) {
  .contact {
    margin-top: 1px;
    margin-left: 0px;
  }
}

.location {
  width: 302px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.location .title {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .location {
    gap: 41px;
  }
  .location .title {
    width: 270px;
    margin: 0 auto;
    font-size: 25px;
    letter-spacing: 0.06em;
    line-height: 32px;
    text-align: center;
  }
}

.location__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .location__item {
    margin-left: 1.5px;
  }
  .location__item:last-child {
    margin-top: -2.4px;
  }
}

.image__location {
  margin-left: -1px;
  /*&:nth-child(1) {
    margin-top: -2px; //
  }*/
}
@media (max-width: 1279px) {
  .image__location:nth-child(1) {
    margin-top: 0;
  }
}

.boston {
  padding-top: 1px;
}
@media (max-width: 1279px) {
  .boston {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .boston {
    margin-top: -1px;
  }
}

@media (max-width: 1279px) {
  .london {
    padding-top: 1px;
  }
}
@media (max-width: 767px) {
  .london {
    padding-top: 2px;
  }
}

.london__item {
  padding-top: 1px;
}
@media (max-width: 1279px) {
  .london__item {
    padding-top: 1px;
  }
}
@media (max-width: 767px) {
  .london__item {
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .img__footer-puppy {
    width: 260px;
    height: 269px;
  }
}

.btn__color {
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 22px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__color:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.slider {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  transition: 0.5s;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider:hover {
  background-color: #FDDCC4;
  border: none;
  cursor: pointer;
}
.slider:disabled {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  pointer-events: none;
  cursor: default;
}

.number {
  background-color: #FDDCC4;
  border: none;
}

@media (max-width: 767px) {
  .slider.left,
.slider.right {
    order: 1;
    margin: 0 30px;
  }

  /*
    .slider.right {
      order: 1;
      margin-right: 58px;
    }*/
}
.btn__secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 22px;
  transition: 0.5s;
}
.btn__secondary:hover {
  background-color: #FDDCC4;
  border: none;
  cursor: pointer;
}

.btn__credit-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
  gap: 15px;
  transition: 0.5s;
  margin-top: -2px;
  padding-left: 2px;
}
.btn__credit-card:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}
@media (max-width: 767px) {
  .btn__credit-card {
    width: 281px;
    font-size: 15px;
    letter-spacing: 0.06em;
    line-height: 17px;
    margin-top: 0.5px;
    margin-left: -1px;
  }
}

.credit-card__number {
  color: #545454;
  text-decoration: none;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.popup__window {
  width: 942px;
  height: 552px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1279px) {
  .popup__window {
    width: 672px;
    height: 402px;
  }
}
@media (max-width: 767px) {
  .popup__window {
    width: 270px;
    height: 393px;
  }
}

.btn__position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn__close {
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.btn__close:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.img__popup {
  width: 500px;
  height: 500px;
  margin-right: 29px;
  border-radius: 11px;
}
@media (max-width: 1279px) {
  .img__popup {
    width: 350px;
    height: 350px;
    margin-right: 11px;
  }
}
@media (max-width: 767px) {
  .img__popup {
    display: none;
  }
}

.popup__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: #fafafa;
  width: 900px;
}
@media (max-width: 1279px) {
  .popup__content {
    width: 630px;
  }
}
@media (max-width: 767px) {
  .popup__content {
    width: 240px;
  }
}

.popup__content-text {
  width: 351px;
  padding-top: 50px;
}
@media (max-width: 1279px) {
  .popup__content-text {
    width: 260px;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .popup__content-text {
    padding: 10px;
  }
}

.popup__title {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 45px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .popup__title {
    text-align: center;
  }
}

.popup__subtitle {
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
}
@media (max-width: 767px) {
  .popup__subtitle {
    text-align: center;
  }
}

.popup__description {
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 17px;
  padding: 40px 0;
}
@media (max-width: 1279px) {
  .popup__description {
    font-size: 13px;
    letter-spacing: 0.06em;
    line-height: 14px;
    padding: 20px 0;
    width: 261px;
  }
}
@media (max-width: 767px) {
  .popup__description {
    width: 220px;
    text-align: justify;
  }
}

.pets__attribute {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
  padding-left: 15px;
}
.pets__attribute p {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 17px;
}
.pets__attribute p:before {
  content: "";
  position: absolute;
  top: -webkit-calc(50% - 2px);
  top: calc(50% - 2px);
  left: -15px;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
}
@media (max-width: 1279px) {
  .pets__attribute {
    gap: 5px;
  }
}

.strong {
  font-family: "Georgia-Bold";
}

/*# sourceMappingURL=style.css.map */
