@font-face {
    font-family: 'Arial-Italic';
    src: url('../fonts/Arial-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial-Regular';
    src: url('../fonts/Arial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia-Regular';
    src: url('../fonts/Georgia-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia-Bold';
    src: url('../fonts/Georgia-Bold.ttf') format('truetype');
}