@import './constants.scss';

.card {
  // // border: 1px solid $colorGrey;
  // // border-radius: 10px;
  // // width: 250px;
  // border: 1px solid #D8D8D8;
  // border-radius: 10px;
  // // width: 250px;
  // height: 430px;
  // // display: flex;
  // // flex-direction: column;
  border: 1px solid #D8D8D8;
    border-radius: 10px;
    height: 430px;
    // display: flex;
    // gap: 5px;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
}

.card-image {
  width: 250px;
  // width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: 100% 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1.6rem;
}

.offer {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
}

.price,
.year-issue,
.type-decoration, 
.type-insert, 
.type-metall {
  font-size: 1.3rem;
}

.cart-product {
  width: 25px;
  height: 25px;
  &:hover {
    cursor: pointer;
    transition: 0.5s;
  }
}

.active-card {
  // filter: invert(46%) sepia(25%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  filter: invert(14%) sepia(97%) saturate(5697%) hue-rotate(352deg) brightness(97%) contrast(100%);
}

.block-cart {
  width: 250px;
    background: #D8D8D8;
    // height: 120%;
    display: flex;
    justify-content: center;
    /* margin: 0 10px; */
    padding: 6px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.name,
.price,
.year-issue, 
.type-decoration,
.type-insert, 
.type-metall, 
.block-cart {
  margin-top: 5px;
}

.sort-text {
  display: none;
}