@import "./utils/constants.scss";
@import "./utils/mixin.scss";

.right-side {
  @include flex($align: flex-start);
  margin-left: 15px;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.card {
  border: 1px solid $colorGrey;
  border-radius: 10px;
  height: 424px;
  text-align: center;
}

.card-image {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: 100% 100%;
  margin-bottom: 5px;
}

.name {
  @include font($size: 1.6rem, $weight: 700);
}

.price,
.year-issue,
.type-decoration,
.type-insert,
.type-metall {
  @include font($size: 1.2rem);
  margin-top: 5px;

  & span {
    font-style: italic;
  }
}

.block-cart {
  @include flex();
  width: 250px;
  background: $colorGrey;
  padding: 6px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: $colorHover;
  }
}

.active-card {
  background-color: $colorGold;
}

.cart-product {
  width: 25px;
  height: 25px;
}

.hide {
  display: none;
}

.warning-text {
  @include font($size: 2rem, $weight: bold);
  padding: 30px 0;
} 