.header__wrapper {
  padding: 60px 40px;
  @include flex($justify: space-between);

  @include media-tablet {
    padding: 30px;
  }

  @include media-mobile {
    padding: 30px 53px 0 10px;
  }
}

.header__navigation {
  margin-left: auto;

  @include media-mobile {
    display: block;
    position: fixed;
    right: -100%;
    width: 320px;
    top: 0;
    height: 100vh;
    z-index: 2;
    padding-top: 115px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    transition: all 1s ease-in-out;

    &--dark {
      background-color: $color-button-text;
    }

    &--light {
      background-color: $color-light;
    }
  }
}

// Page pets

.header {
  background-color: $color-light;
  margin: 0 auto;
  position: relative;
}

.header__pets {
  position: sticky;
  top: 0px;

  @include media-mobile {
    position: fixed;
    left: 0;
    right: 0;
  }
}

.header__wrapper--pets {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-light;
  
}
