.header__wrapper {
  padding: 60px 40px;
  @include flex($justify: space-between);

  @include media-tablet {
    padding: 30px;
}
}

.header__navigation {
  margin-left: auto;
}

// Page pets

.header__wrapper--pets {
  padding: 30px 40px;
  background-color: $color-light;
  position: sticky;
  top: 0;
}