.sources {
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
}

.sources::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff3ee;
    border-radius: 9em;
}

.sources::-webkit-scrollbar-thumb {
    background-color: #ffbda2;
    border-radius: 9em;
}

.category-news {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.source__item {
    background: none;
    border: 2px solid #ffbda2;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ffbda2;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border: none;
    background-color: #fff3ee;
    box-shadow: 10px 5px 5px #ffbda2;
    transform: translateY(-0.25em);
    transition: 0.3s;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}