// Fonts
$arial: "Arial";
$georgia: "Georgia";

$desktop: 1280px;
$tablet-width: 1279px;
$mobile-width: 767px;

$bg-gradient: url("../../assets/images/backgrounds/gradient.png"),
  radial-gradient(60% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

// Color
$color-primary: #f1cdb3;
$color-light: #ffffff;
$color-text-main: #cdcdcd;
$color-title: #545454;
$color-button-text: #292929;
$color-about-text: #4c4c4c;
$color-donation-description: #b2b2b2;
$color-background-pets: #f6f6f6;

// Hover
$color-text-main-hover: #fafafa;
$color-button-hover: #fddcc4;