@import './components/helpers/constants.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: $colorBlack;
  color: $colorWhite;
  padding: 10px;
}

.green {
  background-color: $colorGreen;
}