.about__wrapper {
  @include flex($align: flex-start);
  gap: 120px;
}

.about__content {
  width: 430px;
  padding-top: 15px;
}

.about__subtitle {
  @include font($family: $arial, $size: 1.5rem, $spacing: 0, $height: 2.4rem);
  padding-top: 24px;
  color: $color-about-text;

  &:last-child {
    padding-top: 25px;
  }
}