.about {
  background-color: $color-light;
}

.about__wrapper {
  @include flex($align: flex-start);
  gap: 120px;

  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  
  @include media-mobile {
    margin: 0 15px;
    gap: 41px;
  }
}

.about__content {
  max-width: 430px;
  padding-top: 15px;

  @include media-tablet {
    padding-top: 1px;
  }
}

.about__subtitle {
  @include font($family: $arial, $size: 1.5rem, $spacing: 0, $height: 2.4rem);
  padding-top: 24px;
  color: $color-about-text;

  &:last-child {
    padding-top: 25px;

    @include media-mobile {
      padding-top: 22px;
    }
  }

  @include media-mobile {
    text-align: justify;
    padding-top: 25px;
  }
}

.img__about {
  @include media-mobile {
    width: 260px;
    height: 353.6px;
  }
}