.btn__color {
  width: 207px;
  height: 52px;
  background-color: $gold;
  border-radius: 100px;
  color: $dark;
  @include font($size: 17px, $spacing: 0.06em, $height: 22px);
  transition: $transition;
  @include flex();

  &:hover {
    background-color: $hoverBtn;
    cursor: pointer;
  }
}

.slider {
  width: 52px;
  height: 52px;
  border: 2px solid $gold;
  border-radius: 100%;
  transition: $transition;
  background-color: transparent;
  @include flex();

  &:hover {
    background-color: $hoverBtn;
    border: none;
    cursor: pointer;
  }

  &:disabled {
    color: $gray;
    border: 2px solid $gray;
    pointer-events: none;
    cursor: default;
  }
}

.number {
  background-color: $hoverBtn;
  border: none;
}

@media (max-width: $mobile) {
  .slider.left,
  .slider.right {
    order: 1;
    margin: 0 30px;
  }
/*
  .slider.right {
    order: 1;
    margin-right: 58px;
  }*/
}

.btn__secondary {
  @include flex();
  width: 187px;
  height: 52px;
  border: 2px solid $gold;
  border-radius: 100px;
  color: $dark;
  @include font($size: 17px, $spacing: 0.06em, $height: 22px);
  transition: $transition;

  &:hover {
    background-color: $hoverBtn;
    border: none;
    cursor: pointer;
  }
}

.btn__credit-card {
  @include flex();
  width: 349px;
  height: 43px;
  background-color: $gold;
  border-radius: 9px;
  @include font($size: 20px, $spacing: 0.06em, $height: 23px);
  gap: 15px;
  transition: $transition;
  margin-top: -2px;
  padding-left: 2px;

  &:hover {
    background-color: $hoverBtn;
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    width: 281px;
    @include font($size: 15px, $spacing: 0.06em, $height: 17px);
    margin-top: 0.5px;
    margin-left: -1px;
  }
}

.credit-card__number {
  color: $darkTitle;
  text-decoration: none;
}
