.donation {
  background-color: $color-background-pets;
}

.donation__wrapper {
  @include flex($align: flex-start);
  gap: 32px;

  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
    gap: 48px;
  }
  
  @include media-mobile {
    margin-top: 1px;
    text-align: center;
    gap: 31px;
  }
}

.img__donation-dog {
  margin-top: 11px;

  @include media-tablet {
    margin-top: 12px;
    margin-right: 2px;
  }

  @include media-mobile {
    width: 260px;
    height: 135.2px;
    margin-top: 11px;
    margin-right: 0;
  }
}

.donation__content {
  max-width: 380px;
  margin-right: 1px;

  .title {
    padding-top: 1px;

    @include media-tablet {
      padding-top: 1px;
    }
  }

  @include media-mobile {
    max-width: 280px;

    .title {
      padding-left: 2px;
    }
  }
}

.donation__subtitle {
  @include font($size: 1.5rem, $height: 1.7rem);
  color: $color-title;
  padding: 19px 0 20px;

  @include media-mobile {
    @include font($size: 1.5rem, $spacing: 0, $height: 2.4rem);
    align-items: center;
    padding: 20px 0 20px;
  }
}

.legal__information-animal {
  @include font($family: $arial, $spacing: 0, $size: 1.2rem, $height: 1.8rem);
  font-style: italic;
  color: $color-donation-description;

  @include media-mobile {
    text-align: justify;
  }
}

.img__sredit-card {
  margin-right: 15px;
  @include media-mobile {
    margin-right: 13px;
  }
}
