.main-page__wrapper {
  @include flex($align: flex-start, $justify: space-between);
  padding: 0 40px 0 40px;

  @include media-tablet {
    flex-wrap: wrap;
    @include flex();
}
}

.main__page-content {
  padding-top: 164px;
  width: 460px;

  @include media-tablet {
    padding-top: 30px;

    .button {
      justify-content: center;
    }
}

}

.main__page-title {
  @include font($size: 4.4rem, $spacing: 0, $height: 5.7rem);
  color: $color-light;
  padding-bottom: 41px;
}

.main__page-subtitle {
  @include font($family: $arial, $size: 1.5rem, $spacing: 0, $height: 2.4rem);
  color: $color-text-main;
  padding-bottom: 42px;
}