.pets {
  background-color: $color-background-pets;

  .title {
    text-align: center;
    padding-top: 1px;
    padding-left: 2px;

    @include media-mobile {
      padding-top: 3px;
    }
  }
}

.pets__slider {
  @include flex($justify: space-between);
  padding-top: 59px;
  padding-bottom: 60px;

  @include media-tablet {
    justify-content: center;
    gap: 12px;
  }

  @include media-mobile {
    padding-top: 42px;
    flex-wrap: wrap;
    gap: 18px 80px;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 42px;
  }
}

.pets__cards {
  @include flex();
  gap: 90px;

  @include media-tablet {
    gap: 40px;
  }

  @include media-mobile {
    margin: 0 auto;
  }
}

.card {
  background-color: $color-text-main-hover;
  border-radius: 9px;
  @extend %transition;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $color-light;

    .button {
      background-color: $color-button-hover;
      border: 2px solid $color-button-hover;
    }
  }
}

.main__last--card {
  @include media-tablet {
    display: none;
  }
}

.main__two--card {
  @include media-mobile {
    display: none;
  }
}

.img__card {
  @include media-mobile {
    width: 270px;
    height: 270px;
  }
}

.card__content {
  padding-top: 27px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 1px;
}

.pets__name {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-title;
  padding-bottom: 30px;
}

.pets__button-position {
  text-align: center;
  margin-left: 1px;
}

// Pets page

.pets__container {
  background-color: $color-background-pets;

  .title {
    text-align: center;
    padding-top: 1px;
    padding-left: 2px;
  }
}

.pets__container--wrapper {
  padding: 80px 40px 100px 40px;

  @include media-tablet {
    padding: 80px 30px 77px 30px;
  }

  @include media-mobile {
    padding: 41px 10px 42px 10px;
  }
}

.pets__cards--container {
  @include flex($justify: space-between);
  flex-wrap: wrap;
  row-gap: 31px;
  padding-top: 59px;
  padding-bottom: 58px;

  @include media-tablet {
    @include flex();
    padding-top: 29px;
    padding-bottom: 37px;
    column-gap: 40px;
    row-gap: 31px;
  }

  @include media-mobile {
    padding-top: 42px;
    padding-bottom: 39px;
    flex-direction: column;
  }
}

.pets__navigation {
  @include flex();
  gap: 20px;
  
  @include media-mobile {
    gap: 10px;
  }
}
