@import "../utils/constants.scss";

footer {
  @include flex($justify: space-between);
  @include font($family: $fontMain, $size: 2rem);
  padding: 20px 2.5%;
  max-width: 1920px;

  @media (max-width: 445px) {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__icon-rsschool {
  width: 150px;
  transition: 0.5s;

  &:hover {
    filter: invert(46%) sepia(25%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
  }
}

.github {
  @include flex();
  gap: 20px;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
  }
}

.git-name {
  color: $colorBlack;
}
