@import "../../../helpers/constants.scss";

.cars-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 26px;
}

.line {
  border-top: 1px dashed $colorWhite;
  margin-top: -36px;
  margin-bottom: 30px;
}

.car-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.car-name {
  color: $colorGreen;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.btn-engine {
  background-color: transparent;
  border-radius: 3px;
  padding: 2px;
  margin-right: 5px;

  &:disabled {
    border: 2px solid $colorGrey;
    color: $colorGrey;
  }
}

.btn-start {
  border: 2px solid $colorGreen;
  color: $colorGreen;

  &:not([disabled]):hover {
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid rgb(10, 239, 170);
    color: rgb(10, 239, 170);
  }
}

.btn-stop {
  border: 2px solid $colorRed;
  color: $colorRed;

  &:not([disabled]):hover {
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid rgb(235, 185, 20);
    color: rgb(235, 185, 20);
  }
}

.highway {
  display: flex;
  position: relative;
  background-image: url("../../../../assets/flag.png");
  background-repeat: no-repeat;
  background-size: 39px;
  background-position-x: calc(100% - 110px);
}

@keyframes car-animation {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.car {
  position: absolute;
  left: 0;
  bottom: -6px;
  animation-fill-mode: forwards;
}

.car-track {
  position: relative;
  height: 50px;
  flex-grow: 1;
  margin-right: 100px;
}
