.footer {
  background: $bgGradient;

  .title {
    @include font($size: 35px, $spacing: 0.06em, $height: 45px);
  }
}

.footer__container {
  @include flex($align: flex-start, $justify: space-between);
  padding: 40px 40px 0 40px;

  @media (max-width: $tablet) {
    @include flex();
    flex-direction: column;
    gap: 64px;
    padding: 31px 64px 0 64px;
  }

  @media (max-width: $mobile) {
    gap: 40px;
    padding: 30px 10px 0 10px;
  }
}

.footer__content {
  @include flex($align: flex-start, $justify: space-between);
  gap: 160px;
  padding-top: 17px;

  @media (max-width: $tablet) {
    @include flex();
    gap: 60px;
    padding: 0;
  }

  @media (max-width: $mobile) {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
  }
}

.contacts {
  @include flex($align: flex-start, $justify: flex-start);
  flex-direction: column;
  width: 279px;
  //height: 234px;
  gap: 40px;

  .title {
    color: $white;
  }

  @media (max-width: $mobile) {
    flex-wrap: wrap;
    @include flex();

    .title {
      line-height: 32px;
        @include font($size: 25px, $spacing: 0.06em, $height: 32px);
      text-align: center
    }

  }
}

.contacts__item {
  @include flex();
  flex-direction: row;
  gap: 20px;
  height: 32px;
}

.image__email {
  margin-top: 4px;

  @media (max-width: $tablet) {
  margin-top: 2px;
  }
  @media (max-width: $mobile) {
  margin-top: 5px;
}
}

.image__phone {
  margin-top: 4px;

  @media (max-width: $tablet) {
    margin-top: 3px;
  }

  @media (max-width: $mobile) {
    margin-top: 5px;
  }
}

.contact {
  color: $gold;
  @include font($size: 20px, $spacing: 0.06em, $height: 23px);
  align-items: center;

  @media (max-width: $tablet) {
   // margin-top: 1px;
    margin-left: 0.5px;
  }

  @media (max-width: $mobile) {
    margin-top: 1px;
    margin-left: 0px;
  }
}

.location {
  width: 302px;
  @include flex($align: flex-start);
  flex-direction: column;
  gap: 32px;

  .title {
    color: $white;
  }

  @media screen and (max-width: $mobile) {
    gap: 41px;

    .title {
      width: 270px;
      margin: 0 auto;
      @include font($size: 25px, $spacing: 0.06em, $height: 32px);
      text-align: center;
    }

  }
}

.location__item {
  @include flex();
  gap: 20px;

  @media (max-width: $mobile) {
    margin-left: 1.5px; //

    &:last-child {
      margin-top: -2.4px; //
    }

  }
}

.image__location {
  margin-left: -1px; //

  /*&:nth-child(1) {
    margin-top: -2px; //
  }*/
  @media (max-width: $tablet) {

    &:nth-child(1) {
      margin-top: 0; //
    }

  }
}

.boston {
  padding-top: 1px; //

  @media (max-width: $tablet) {
    padding-top: 0; //
  }
  @media (max-width: $mobile) {
  margin-top: -1px;
}
}

.london {
  //padding-top: 2px; //

  @media (max-width: $tablet) {
    padding-top: 1px; //
  }

  @media (max-width: $mobile) {
    padding-top: 2px; //
  }
}

.london__item {
  padding-top: 1px;
  @media (max-width: $tablet) {
    padding-top: 1px; //
  }
  @media (max-width: $mobile) {
    margin-top: -1px;
  }

}

.img__footer-puppy {
  @media (max-width: $mobile) {
    width: 260px;
    height: 269px;
  }
}