.header {
  position: sticky;
  top: 0;
  padding: 30px 40px;
  background-color: $white;

  @media (max-width: $tablet) {
    padding: 30px;
  }
}

.header__container {
  display: flex;
  height: 60px;
}

.logo {
  width: 186px;
  height: 60px;
}

.logo__title {
  @include font($size: 32px, $height: 35.2px);
  padding-bottom: 9px;
  padding-top: 1px;
}

.logo__subtitle {
  color: $dark;
  font-family: $arialRegular;
  @include font($size: 13px, $spacing: 0.1em, $height: 15px);
  padding-left: 4px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  @include flex($justify: space-between);
  height: 60px;
  width: 443px;
  padding-bottom: 5px;
}

.menu__item {
  position: relative;
  color: $darkTitle;
  font-family: $arialRegular;
  @include font($size: 15px, $spacing: 0, $height: 24px);
  transition: $transition;

  &:hover {
    color: $dark;
  }
}

.active {
  color: $dark;
  cursor: default;

  &:after {
    position: absolute;
    content: "";
    background-color: $gold;
    width: 100%;
    height: 3px;
    bottom: -7.5px;
    left: 0;
    transform: scale(0);
  }

  &:after {
    transform: scale(1);
  }
}

.burger__logo {
  display: none;
}
