.help {
    background-color: $white;
  
    .title {
      padding-top: 1px;
      padding-left: 2px;
  
      @media  (max-width: $mobile) {
        margin-top: -1px; //
      }
  
    }
  }

  .wrapper.help {
    @media (max-width: $mobile) {
margin-bottom: -6px;
//margin-top: 1px;
    }
  }
  
  .help__list {
    @include flex($align: flex-start);
    padding-top: 59px; //
    flex-wrap: wrap;
  
    @media (max-width: $tablet) {
      justify-content: space-between;
      padding: 59px 39px 0 39px;
    }
  
    @media (max-width: $mobile) {
      width: 96.8%;
      margin: 0 auto;
      padding: 43px 0 0 0;
    }
  }
  
  .help__icons-group {
    margin: 0 119.5px 55px 0;
  
    &:nth-child(5),
    &:last-child {
      margin-right: 0;
    }
  
    &:nth-child(n + 6) {
      margin-bottom: 0;
    }
  
    @media (max-width: $tablet) {
      width: 27%;
      margin-right: 0;
    }
  
    @media (max-width: $mobile) {
      /*width: 40.625vw;
      margin-bottom: 31px;
  
      &:nth-child(n + 6) {
        margin-bottom: 30.3px;
      }
  
      &:last-child {
        margin-bottom: 0;
      }*/

      margin-bottom: 25px;
      width: 40.625vw;
      height: 92px;
      &:nth-child(n + 6) {
        margin-bottom: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }
  
    }
  }
  
  .help__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
    @media (max-width: $mobile) {
      height: 50px;
      margin-bottom: 20px;
    }
  }
  
  .help__icon-name {
    @include flex();
    color: $darkTitle;
    font-family: $georgiaRegular;
    @include font($size: 20px, $spacing: 0.06em, $height: 23px);
  
    @media (max-width: $mobile) {
      @include font($size: 15px, $spacing: 0.06em, $height: 16.5px);
    }
  }